<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>



    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            <div class="col d-flex flex-column h-sm-100 col-sm-9">
                <main class="row overflow-auto">
                    <div class="col pt-4">
                        <h1 class="py-2">Profil</h1>
                        <hr />
                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 mb-4">
                                        <h3>Informations Personnelles</h3>
                                        <hr />
                                        <p><strong>Nom :</strong> <span th:text="${volunteer.lastName}"></span></p>
                                        <p><strong>Prénom :</strong> <span th:text="${volunteer.firstName}"></span></p>
                                        <p><strong>Email :</strong> <span th:text="${volunteer.email}"></span></p>
                                        <p><strong>Téléphone :</strong> <span th:text="${volunteer.phoneNumber}"></span></p>
                                    </div>
                                    <div class="col-md-7 col-sm-12 mb-4">
                                        <h3>Activités et Disponibilités</h3>
                                        <hr>
                                        <p><strong>Types de Mission :</strong></p>
                                        <ul class="list-group">
                                            <li class="list-group-item" th:each="type : ${volunteer.missionTypes}" th:text="${type.name}"></li>
                                        </ul>
                                        <hr>
                                        <p><strong>Disponibilités :</strong></p>
                                        <ul class="list-group">
                                            <li class="list-group-item" th:each="availability : ${volunteer.availabilities}" th:text="${@translationUtils.translateDayOfWeek(availability.dayOfWeek)} + ' ' + ${availability.startTime} + ' - ' + ${availability.endTime}"></li>
                                        </ul>
                                        <hr>
                                        <p><strong>Indisponibilités :</strong></p>
                                        <ul class="list-group">
                                            <li class="list-group-item" th:each="unavailability : ${volunteer.unavailabilities}" th:text="${#temporals.format(unavailability.startDate, 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(unavailability.endDate, 'dd/MM/yyyy')}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-secondary" th:href="@{/volunteers}">Retour</a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>
