<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
      xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
  <div th:fragment="change-password-modal">
    <script th:inline="javascript">
      function togglePasswordVisibility(oldPassword) {
        var passwordField = document.getElementById(oldPassword);
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script>
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Changer le Mot de Passe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/administration/profil/changePassword}" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="oldPassword" class="form-label">Ancien Mot de Passe</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                  <button type="button" onclick="togglePasswordVisibility('oldPassword')" class="btn btn-outline-secondary">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required="required" minlength="8">
              </div>
              <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirmer le Nouveau Mot de Passe</label>
                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required="required">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary">Changer le Mot de Passe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>