<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:fragment="deactivation-mission-type-modal">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let deactivationModal = document.getElementById('deactivationMissionTypeModal');
            deactivationModal.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;
                const itemId = button.getAttribute('data-missionType-id');
                const deactivationUrl = /*[[@{/mission-types/deactivate/}]]*/ 'deactivationPath';

                let confirmDeactivationBtn = document.getElementById('confirmDeactivation');
                confirmDeactivationBtn.onclick = function() {
                    window.location.href = deactivationUrl + itemId;
                };
            });
        });
    </script>

    <div class="modal fade" id="deactivationMissionTypeModal" tabindex="-1" aria-labelledby="deactivationMissionTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivationMissionTypeModalLabel">Désactivation du Type de Mission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <i class="bi bi-exclamation-triangle-fill">
                        <span>
                            Êtes-vous sûr de vouloir désactiver ce type de mission ?
                        </span>
                        <span>
                            Il ne sera plus disponible et toutes les missions en cours ne pourront pas être modifiées.
                        </span>
                    </i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" id="confirmDeactivation">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>