<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div th:fragment="end-mission-modal">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let endModal = document.getElementById('endMissionModal');
            endModal.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;
                const itemId = button.getAttribute('data-mission-id');
                const endUrl = /*[[@{/missions/end/}]]*/ 'endPath';

                let confirmEndBtn = document.getElementById('confirmEnd');
                confirmEndBtn.onclick = function() {
                    window.location.href = endUrl + itemId;
                };
            });
        });
    </script>

    <div class="modal fade" id="endMissionModal" tabindex="-1" aria-labelledby="endMissionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="endMissionModalLabel">Lancer la Mission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <span>Êtes-vous sûr de vouloir Terminer la mission manuellement ?</span>
                    </div>
                    <div>
                        <span>Si ce n'est pas le cas, cliquez sur le bouton <strong>ANNULER</strong>.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" id="confirmEnd">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>