<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div class="container">
    <div class="row">
        <div class="card col-md-9 justify-content-center container py-4">
            <div class="card-header">
                <h1>Confirmation</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Informations</h3>
                        <hr>
                        <p>Titre : <span th:text="${confirmation.mission.title}"></span></p>
                        <p>Type de mission : <span th:text="${confirmation.mission.missionType.name}"></span></p>
                        <p>Statut : <span th:text="${@translationUtils.translateMissionStatus(confirmation.mission.status)}"></span></p>
                        <p>Description : <span th:text="${confirmation.mission.description}"></span></p>
                        <p>Commentaire : <span th:text="${confirmation.mission.comment}"></span></p>
                        <p>Nombre de bénévoles requis : <span th:text="${confirmation.mission.requiredVolunteerNumber}"></span></p>
                        <p>Date de début : <span th:text="${#temporals.format(confirmation.mission.startDateTime, 'dd/MM/yyyy HH:mm')}"></span></p>
                        <p>Date de fin : <span th:text="${#temporals.format(confirmation.mission.endDateTime, 'dd/MM/yyyy HH:mm')}"></span></p>
                    </div>
                    <div class="col-md-6">
                        <h3>Ajouter des volontaires</h3>
                        <hr>
                        <form th:action="@{/missions/confirm/{id}(id=${confirmation.mission.uuid})}" method="post" id="confirmMissionForm" th:object="${confirmation}">
                            <div class="form-group">
                                <input type="hidden" name="missionUuid" th:value="${confirmation.mission.uuid}">
                                <ul class="list-group">
                                    <li th:each="volunteer, volunteerStat : ${confirmation.availableVolunteers}" class="list-group-item">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex justify-content-between">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" th:value="${volunteer.uuid}" th:name="volunteerUuids" th:id="${'volunteer' + volunteerStat.index}"
                                                           th:checked="${#lists.contains(assignedVolunteerUuids, volunteer.uuid)}">
                                                    <label class="form-check-label" th:for="${'volunteer' + volunteerStat.index}">
                                                        <strong th:text="${volunteer.lastName.toUpperCase()} + ' ' + ${volunteer.firstName}"></strong>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" autocomplete="off" class="btn-check" th:name="chiefUuid" th:value="${volunteer.uuid}" th:id="${'chief' + volunteerStat.index}"
                                                           th:checked="${volunteer.uuid.equals(chiefUuid)}">
                                                    <label class="btn btn-outline-secondary" th:for="${'chief' + volunteerStat.index}">Chef de mission</label>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <span th:text="${volunteer.email}"></span>,
                                                <span th:text="${volunteer.phoneNumber}"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-secondary pb-2" th:href="@{/missions}">Annuler</a>
                <button type="submit" form="confirmMissionForm" class="btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('[name="chiefUuid"]').forEach(radio => {
        radio.addEventListener('click', (e) => {
            if (e.target.dataset.checked === 'true') {
                e.target.checked = false;
                e.target.dataset.checked = 'false';
            } else {
                e.target.dataset.checked = 'true';
            }
        });
    });
    document.getElementById('confirmMissionForm').addEventListener('submit', function(e) {
        let checkboxes = document.querySelectorAll('#confirmMissionForm input[type="checkbox"][name="volunteerUuids"]');
        if (checkboxes.length === 0) {
            alert("Il n'y a aucun volontaire à sélectionner.");
            e.preventDefault();
        } else {
            let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
            if (!checkedOne) {
                alert("Veuillez sélectionner au moins un volontaire.");
                e.preventDefault();
            }
        }
    });
</script>


<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
<div th:replace="~{fragments/head :: head}"></div>
</html>