<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>



    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            <div class="col d-flex flex-column h-sm-100 col-sm-9">
                <main class="row overflow-auto">
                    <div class="col pt-4">
                        <h1 class="py-2">Bénévoles</h1>
                        <hr />
                        <a class="btn btn-primary" th:href="@{/volunteers/create}">Ajouter un bénévole</a>
                        <hr />
                        <div class="card">
                            <div class="card-header">
                                <form class="d-flex" role="search" id="search" th:action="@{/volunteers/search}">
                                    <input name="query" class="form-control-sm" type="text" placeholder="Rechercher" aria-label="Rechercher">
                                    <button type="submit" form="search" class="btn btn-outline-secondary btn-sm">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                            <th>Statut</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="v:${volunteers}">
                                            <td th:text="${v.lastName}"></td>
                                            <td th:text="${v.firstName}"></td>
                                            <td th:text="${v.email}"></td>
                                            <td th:text="${v.phoneNumber}"></td>
                                            <td th:text="${v.status}"></td>
                                            <td>
                                                <!-- Editer -->
                                                <a class="btn btn-primary btn-sm" th:href="@{/volunteers/edit/{id}(id=${v.uuid})}">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <!-- Supprimer -->
                                                <button type="button" class="btn btn-sm btn-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#deleteVolunteerModal"
                                                        th:attr="data-volunteer-id=${v.uuid}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <!-- Voir -->
                                                <a class="btn btn-info btn-sm" th:href="@{/volunteers/view/{id}(id=${v.uuid})}">
                                                    <i class="bi bi-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                Pagination
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="~{fragments/footer :: footer}"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/modals/message-modal :: message-modal}"></div>
    <div th:replace="~{fragments/modals/delete-volunteer-modal :: delete-volunteer-modal}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
