<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
    <div class="container">
        <div class="row">
            <div class="card col-lg-6 col-md-6 justify-content-center container py-4">
                <div class="card-header">
                    <h1>Nouveau bénévole</h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/volunteers/add-availability}" th:object="${availabilityForm}" id="availabilityForm" method="post">
                        <div id="availabilityContainer" class="pb-2">
                            <!-- Bloc pour une ligne de disponibilité -->
                            <div class="availabilityRow row gy-2 gx-3 align-items-center">
                                <input type="hidden" name="volunteerId" id="volunteerId" th:value="${volunteerId}">
                                <div class="col-auto">
                                    <label for="dayOfWeek" class="form-label">Choisissez un jour:</label>
                                    <select class="form-select" id="dayOfWeek" name="dayOfWeek" required="required">
                                        <option selected>Jour</option>
                                        <option value="MONDAY">Lundi</option>
                                        <option value="TUESDAY">Mardi</option>
                                        <option value="WEDNESDAY">Mercredi</option>
                                        <option value="THURSDAY">Jeudi</option>
                                        <option value="FRIDAY">Vendredi</option>
                                        <option value="SATURDAY">Samedi</option>
                                        <option value="SUNDAY">Dimanche</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label for="startTime" class="form-label">Heure de début:</label>
                                    <input type="time" class="form-control" name="startTime" id="startTime">
                                </div>
                                <div class="col-auto">
                                    <label for="endTime" class="form-label">Heure de Fin:</label>
                                    <input type="time" class="form-control" name="endTime" id="endTime">
                                </div>
                            </div>
                        </div>
                        <button type="button" id="addMore" class="btn btn-sm btn-outline-secondary">Ajouter une ligne</button>
                    </form>

                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-secondary pb-2" th:href="@{/volunteers}">Annuler</a>
                    <button type="submit" form="availabilityForm" class="btn btn-primary">Suivant</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('addMore').addEventListener('click', function() {
            var container = document.getElementById('availabilityContainer');
            var newRow = document.createElement('div');
            newRow.className = 'availabilityRow';
            newRow.innerHTML = `
                <label for="dayOfWeek">Choisissez un jour:</label>
                <select id="dayOfWeek" name="dayOfWeek">
                    <option value="MONDAY">Lundi</option>
                    <option value="TUESDAY">Mardi</option>
                    <option value="WEDNESDAY">Mercredi</option>
                    <option value="THURSDAY">Jeudi</option>
                    <option value="FRIDAY">Vendredi</option>
                    <option value="SATURDAY">Samedi</option>
                    <option value="SUNDAY">Dimanche</option>
                </select>
                <label for="startTime" class="col-form-label">Heure de début:</label>
                <input type="time" name="startTime" id="startTime">
                <label for="endTime" class="col-form-label">Heure de Fin:</label>
                <input type="time" name="endTime" id="endTime">
        `;
            container.appendChild(newRow);
        });
    </script>


    <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>