<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="card col-lg-6 col-md-6 justify-content-center container py-4">
            <div class="card-header">
                <a class="btn btn-secondary" th:href="@{/missions}">Retour</a>
                <h1>Mise à jour</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/missions/update}" method="post" id="editMissionForm" th:object="${mission}">
                    <input type="hidden" name="uuid" id="uuid" th:field="*{uuid}">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nom de la Mission :</label>
                        <input th:field="*{name}" type="text" id="name" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description :</label>
                        <textarea th:field="*{description}" id="description" class="form-control" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-form-label">Commentaire :</label>
                        <textarea th:field="*{comment}" id="comment" class="form-control" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="missionType" class="col-form-label">Type de mission :</label>
                        <select class="form-select" th:field="*{missionType.uuid}" id="missionType" name="missionType" required="required">
                            <option th:each="t : ${missionTypes}" th:value="${t.uuid}" th:text="${t.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="requiredVolunteerNumber" class="col-form-label">Nombre de Bénévoles Requis:</label>
                        <input th:field="*{requiredVolunteerNumber}" type="number" id="requiredVolunteerNumber" class="form-control" required="required">
                    </div>

                    <div class="form-group">
                        <label for="startingDate" class="col-form-label">Date de Début:</label>
                        <input th:field="*{startingDate}" type="datetime-local" id="startingDate" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="endingDate" class="col-form-label">Date de Fin:</label>
                        <input th:field="*{endingDate}" type="datetime-local" id="endingDate" class="form-control">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" form="editMissionForm" class="btn btn-primary">Mettre à jour</button>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>