<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>



<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="col d-flex flex-column h-sm-100 col-sm-9">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h1 class="py-2" th:text="${missionReport.missionDTO.title}"></h1>
                    <hr />

                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Informations</h3>
                                    <hr>
                                    <p>Description : <span th:text="${missionReport.missionDTO.description}"></span></p>
                                    <p>Commentaire : <span th:text="${missionReport.missionDTO.comment}"></span></p>
                                    <p>Statut : <span th:text="${@translationUtils.translateMissionStatus(missionReport.missionDTO.status)}"></span></p>
                                    <p>Type de mission : <span th:text="${missionReport.missionDTO.missionType.name}"></span></p>
                                    <p>Date de début : <span th:text="${#temporals.format(missionReport.missionDTO.startDateTime, 'dd.MM.yyyy HH:mm')}"></span></p>
                                    <p>Date de fin : <span th:text="${#temporals.format(missionReport.missionDTO.endDateTime, 'dd.MM.yyyy HH:mm')}"></span></p>
                                </div>
                                <div class="col-md-6">
                                    <h3>Volontaires Assignés</h3>
                                    <hr>
                                    <form th:action="@{/missions/complete-report/{id}(id=${missionReport.missionDTO.uuid})}" method="post" id="reportMissionForm" th:object="${missionReport}">
                                        <div class="form-group">
                                            <input type="hidden" name="missionUuid" th:value="${missionReport.missionDTO.uuid}">
                                            <ul class="list-group">
                                                <li th:each="assignment, assignmentStat : ${missionReport.missionAssignments}" class="list-group-item">
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="me-2">
                                                                <span th:text="${assignment.volunteer.lastName.toUpperCase()} + ' ' + ${assignment.volunteer.firstName}"></span>
                                                                <span th:if="${assignment.chief}" class="badge bg-primary ms-2 me-auto">Chef de mission</span>
                                                            </div>
                                                            <div class="form-check form-switch form-check-reverse">
                                                                <input class="form-check-input" type="checkbox" th:value="${assignment.uuid}" th:name="assignmentUuids" th:id="${'assignment' + assignmentStat.index}">
                                                                <label class="form-check-label" th:for="${'assignment' + assignmentStat.index}">
                                                                    A participé
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-secondary" th:href="@{/missions}">Retour</a>
                            <button type="submit" form="reportMissionForm" class="btn btn-primary">Confirmer</button>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</div>

<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>
