<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">

</head>
<body>

<!-- Modal pour voir une mission -->

<div th:fragment="viewMissionModal" class="modal fade" id="showMissionModal" th:attrappend="id=${m.uuid}" tabindex="-1" aria-labelledby="showMissionModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showMissionModalLabel" th:text="${m.name}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" >
                <p><strong>Type de Mission:</strong> <span th:text="*{m.missionType}"></span></p>
                <p><strong>Statut:</strong> <span th:text="*{m.status}"></span></p>
                <p><strong>Description:</strong> <span th:text="*{m.description}"></span></p>
                <p><strong>Commentaire:</strong> <span th:text="*{m.comment}"></span></p>
                <p><strong>Date de Début:</strong> <span th:text="*{#temporals.format(m.startingDate, 'dd.MM.yyyy HH:mm')}"></span></p>
                <p><strong>Date de Fin:</strong> <span th:text="*{#temporals.format(m.endingDate, 'dd.MM.yyyy HH:mm')}"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<script src="/webjars/popper.js/2.11.7/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>