<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
<div class="container">
    <div class="row">
        <div class="card col-lg-6 col-md-6 justify-content-center container py-4">
            <div class="card-header">
                <h1>Nouvel administrateur</h1>
                <p>Attention, il s'agit de la première connexion à l'application.</p>
                <p>N'oubliez pas de retenir votre mot de passe.</p>
            </div>
            <div class="card-body">

                <form th:action="@{/register}" method="post" id="newAdminForm" th:object="${admin}">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="form-group">
                                <label for="lastName" class="col-form-label">Nom :</label>
                                <input th:field="*{lastName}" type="text" id="lastName" class="form-control" required="required" autocomplete="family-name">
                                <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="col-form-label">Prénom :</label>
                                <input th:field="*{firstName}" type="text" id="firstName" class="form-control" required="required" autocomplete="given-name">
                                <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label">Email :</label>
                                <input th:field="*{email}" type="email" id="email" class="form-control" autocomplete="off" required="required">
                                <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="col-form-label">Téléphone :</label>
                                <input th:field="*{phoneNumber}" type="text" id="phoneNumber" class="form-control" autocomplete="tel" required="required">
                                <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Mot de Passe</label>
                                <input th:field="*{password}" type="password" class="form-control" id="password" name="password" required="required">
                                <ul class="text-danger">
                                    <li th:each="error : ${#fields.errors('password')}" th:text="${error}"></li>
                                    <li th:each="error : ${#fields.errors('matchingPassword')}" th:text="${error}"></li>
                                </ul>

                            </div>
                            <div class="form-group">
                                <label for="matchingPassword" class="form-label">Confirmer le Mot de Passe</label>
                                <input th:field="*{matchingPassword}" type="password" class="form-control" id="matchingPassword" name="matchingPassword" required="required">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-secondary me-2" th:href="@{/home}">Annuler</a>
                <button type="submit" form="newAdminForm" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>