<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
            <div class="position-sticky">
                <!-- Contenu de la barre de menu -->
                <!-- Vous pouvez ajouter des liens, des icônes, etc. ici -->
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="col">

                <h1 class="py-2">Missions</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMissionModal">
                    Créer une Mission
                </button>
                <!-- Modal pour créer une mission -->
                <div th:replace="fragments/createMissionModal :: createMissionModal"></div>

            </div>
            <!-- Zone principale -->
            <div class="col-md-10 offset-1 py-2">
                <div class="card">
                    <div class="card-header">
                        <form class="d-flex" role="search" th:action="@{missions}">
                            <input class="form-control-sm" type="text" placeholder="Rechercher" aria-label="Rechercher">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <table th:class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>uuid</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Statut</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Actions</th>
                            </tr>
                            <tr th:each="m:${listMissions}">
                                <td th:text="${m.id}"></td>
                                <td th:text="${m.uuid}"></td>
                                <td th:text="${m.name}"></td>
                                <td th:text="${m.missionType}"></td>
                                <td th:text="${m.status}"></td>
                                <td th:text="${#temporals.format(m.startingDate, 'dd.MM.yyyy HH:mm')}"></td>
                                <td th:text="${#temporals.format(m.endingDate, 'dd.MM.yyyy HH:mm')}"></td>
                                <td>


                                    <!-- Le bouton "Voir" dans la colonne "Actions" de la table -->
                                    <a class="btn btn-primary btn-sm" th:href="@{'/missions/view/' + ${m.id}}" data-bs-toggle="modal" data-bs-target="#missionModal">Voir</a>

                                    <!-- Modal pour afficher les détails de la mission -->
                                    <div class="modal fade" id="missionModal" tabindex="-1" aria-labelledby="missionModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="missionModalLabel">Détails de la Mission</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>ID : <span th:text="${m.id}"></span></p>
                                                    <p>Nom : <span th:text="${m.name}"></span></p>
                                                    <p>UUID : <span th:text="${m.uuid}"></span></p>
                                                    <!-- Ajoutez d'autres détails ici -->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>



                                <!--<td>
                                    <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#showMissionModal" th:attrappend="data-bs-target=${m.uuid}"><i class="bi bi-eye"></i></button>
                                    --><!-- Modal pour voir une mission --><!--
                                    <div th:replace="fragments/viewMissionModal :: viewMissionModal"></div>

                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editMissionModal"><i class="bi bi-pencil-square"></i></button>
                                    --><!-- Modal pour éditer une mission --><!--


                                    <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                                </td>-->
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer">
                        Pagination
                        <!--<nav aria-label="Page navigation volunteer">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/index(page=${previousPage})}">Previous</a>
                                </li>
                                <li class="page-item" th:class="${currentPage==status.index?'active':''}" th:each="page, status:${pages}">
                                    <a class="page-link"  th:text="${status.index}" th:href="@{/index(page=${status.index},keyword=${keyword})}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/index(page=${nextPage})}">Next</a>
                                </li>
                            </ul>
                        </nav>-->
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>







    <script src="/webjars/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

</body>
</html>
