<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
    <div th:fragment="completed-missions" id="completed" class="tab-pane fade">
        <hr>
        <h3 class="text-center">Missions terminées</h3>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-primary" th:href="@{/missions/create}">Ajouter une mission</a>
                    <form class="d-flex" role="search" id="searchDoneMission" th:action="@{/missions/search}">
                        <input name="query" class="form-control-sm" type="text" placeholder="Rechercher" aria-label="Rechercher">
                        <button type="submit" form="searchDoneMission" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <p th:if="${completedMissions.isEmpty()}">Il n'y a pas de mission</p>
                <table class="table-responsive table table-striped table-hover" th:unless="${completedMissions.isEmpty()}">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Statut</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="scrollable-list">
                    <tr th:each="completedMission:${completedMissions}">
                        <td th:text="${completedMission.title}"></td>
                        <td th:text="${completedMission.missionType.name}"></td>
                        <td th:text="${completedMission.status}"></td>
                        <td th:text="${#temporals.format(completedMission.startDateTime, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${#temporals.format(completedMission.endDateTime, 'dd/MM/yyyy HH:mm')}"></td>
                        <td>
                            <!-- Voir -->
                            <a class="btn btn-info btn-sm" th:href="@{/missions/{id}(id=${completedMission.uuid})}"><i class="bi bi-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Pagination

            </div>
        </div>
    </div>
</body>
</html>