<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>

<div class="container">
    <div class="row">
        <div class="card col-lg-6 col-md-6 justify-content-center container py-4">
            <div class="card-header">
                <h1>Changer le Mot de Passe</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/profil/change-password}" method="post" id="changePasswordForm">
                    <input type="hidden" name="mustChangePassword" th:value="${volunteer.mustChangePassword}">
                    <div class="modal-body">
                        <div id="passwordError" class="alert alert-danger my-3" style="display: none">
                            Les mots de passe ne correspondent pas.
                        </div>
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label">Ancien Mot de Passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                                <button type="button" onclick="togglePasswordVisibility('oldPassword')" class="btn btn-outline-secondary">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                            <div class="input-group has-validation">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required="required"
                                       minlength="8" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                       title="Le mot de passe doit contenir au moins 8 caractères, dont une majuscule, un chiffre et un caractère spécial.">
                                <button type="button" onclick="togglePasswordVisibility('newPassword')" class="btn btn-outline-secondary">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirmer le Nouveau Mot de Passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required="required">
                                <button type="button" onclick="togglePasswordVisibility('confirmNewPassword')" class="btn btn-outline-secondary">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" form="changePasswordForm" class="btn btn-primary">Mettre à jour</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function togglePasswordVisibility(passwordFieldId) {
        let passwordField = document.getElementById(passwordFieldId);
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("changePasswordForm").addEventListener("submit", function(event) {
            let newPassword = document.getElementById("newPassword").value;
            let confirmPassword = document.getElementById("confirmNewPassword").value;
            let passwordErrorDiv = document.getElementById("passwordError");

            if (newPassword !== confirmPassword) {
                passwordErrorDiv.style.display = "block";
                event.preventDefault();
            } else {
                passwordErrorDiv.style.display = "none";
            }
        });
    });
</script>
<div th:replace="~{fragments/modals/message-modal :: message-modal}"></div>

<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>