<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>

<div class="container">
    <div class="row">
        <div class="card col-lg-6 col-md-6 justify-content-center container py-4">
            <div class="card-header">
                <h1>Changer le Mot de Passe</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/administration/profil/changePassword}" method="post" id="changePasswordForm">
                    <input type="hidden" name="source" th:value="${sourcePage}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label">Ancien Mot de Passe</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                                <button type="button" onclick="togglePasswordVisibility('oldPassword')" class="btn btn-outline-secondary">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required="required" minlength="8">
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirmer le Nouveau Mot de Passe</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required="required">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" form="changePasswordForm" class="btn btn-primary">Mettre à jour</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function togglePasswordVisibility(oldPassword) {
        let passwordField = document.getElementById(oldPassword);
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
<div th:replace="~{fragments/modals/message-modal :: message-modal}"></div>

<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>