<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head :: head}"></div>
<body>
    <div class="container">
        <div class="row">
            <div class="card col-lg-12 col-md-9 justify-content-center container py-4">
                <div class="card-header">
                    <h1>Nouveau bénévole</h1>
                </div>
                <div class="card-body">

                    <form th:action="@{/administration/volunteer}" method="post" id="newVolunteerWithRoleForm" th:object="${newVolunteer}">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="lastName" class="col-form-label">Nom :</label>
                                    <input th:field="*{lastName}" type="text" id="lastName" class="form-control" required="required" autocomplete="family-name">
                                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-form-label">Prénom :</label>
                                    <input th:field="*{firstName}" type="text" id="firstName" class="form-control" required="required" autocomplete="given-name">
                                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">Email :</label>
                                    <input th:field="*{email}" type="email" id="email" class="form-control" autocomplete="off" required="required">
                                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="col-form-label">Téléphone :</label>
                                    <input th:field="*{phoneNumber}" type="text" id="phoneNumber" class="form-control" autocomplete="tel">
                                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 mb-4">
                                <div class="form-group">
                                    <h5>Rôles</h5>
                                    <hr>
                                    <div id="roleError" class="alert alert-danger my-3" style="display: none">
                                        Veuillez sélectionner au moins un rôle.
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap" role="group">
                                    <div class="my-2 me-2" th:each="role : ${allRoles}">
                                        <input th:id="${'btn-check-outlined' + role.name}"
                                               th:value="${role.name}"
                                               th:name="roleNames"
                                               type="checkbox"
                                               class="btn-check" th:classappend="${role.name == 'ROLE_ADMIN' ? 'role-admin' : (role.name == 'ROLE_MISSION' ? 'role-mission' : 'role-volunteer')}"
                                               autocomplete="off"
                                               th:checked="${newVolunteer.roles != null and #lists.contains(newVolunteer.roles, role.name)}"
                                               th:disabled="${role.name == 'ROLE_ADMIN' and newVolunteer.roles != null and (#lists.contains(newVolunteer.roles, 'ROLE_VOLUNTEER') or #lists.contains(newVolunteer.roles, 'ROLE_MISSION'))}">
                                        <label class="btn btn-outline-secondary"
                                               th:for="${'btn-check-outlined' + role.name}"
                                               th:text="${@translationUtils.translateRole(role.name)}"></label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-secondary me-2" th:href="@{/administration}">Annuler</a>
                    <button type="submit" form="newVolunteerWithRoleForm" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('newVolunteerWithRoleForm');
            form.addEventListener('submit', function(event) {
                const checkboxes = document.querySelectorAll('input[name="roleNames"]:checked');
                if (checkboxes.length === 0) {
                    event.preventDefault();
                    document.getElementById('roleError').style.display = 'block';
                }
            });

            document.querySelectorAll('.role-admin').forEach(function (adminCheckbox) {
                adminCheckbox.addEventListener('change', function () {
                    const isChecked = adminCheckbox.checked;
                    document.querySelectorAll('.role-mission, .role-volunteer').forEach(function (checkbox) {
                        checkbox.disabled = isChecked;
                        if (isChecked) checkbox.checked = false;
                    });
                });
            });
        });
    </script>

    <div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
 </html>